
  <div class="bg-white">
    <div class="px-4 pb-16 sm:px-6 sm:pb-24 lg:px-8">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">All available board games</h2>
      <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 lg:grid-cols-4 xl:gap-x-8">
        <% @games.each do |game| %>
          <%= render partial: 'common/game', locals: { game: game } %>
        <% end %>
      </div>
    </div>
  </div>